@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default styles for all screen sizes */
body {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  /* Add other common styles here */
}

/* Mobile (Small Screens) */

